<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head>
<body>

    <header th:replace="~{layout/layout :: header}"></header>
    
<h1>Listado de entregables</h1>

<!--// BOTON PARA CREAR ENTREGABLES-->
<a th:href="@{/crearEntregable}">
    <button>
        Crear Nuevo Entregable
    </button>
</a>

<section>
    <h1> [[${title}]]</h1>
    <section>
        <table>
            <thead>
                <tr>
                    <th>Nombre del Archivo</th>
                    <th>Tarea</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="entregable: ${entregables}">
                    <td>[[${entregable.nombreArchivo}]]</td>
                    <td>[[${entregable.tarea.titulo}]]</td>
                    <td>
                        <a th:href="@{/verEntregable/{id}(id=${entregable.id})}">Ver</a> |
                        <a th:href="@{/editarEntregable/{id}(id=${entregable.id})}">Editar</a> |
                        <a th:href="@{/eliminarEntregable/{id}(id=${entregable.id})}" 
                           onclick="return confirm('¿Estás seguro de que deseas eliminar este entregable?')">
                            Eliminar
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</section>

</body>
</html>