<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StartUp Connect Admin</title>
</head>
<body>
<h1>Welcome Nombre Usuario</h1>



// BOTON PARA CRUD EMPRENDEDORES
<a href="/emprendedor">

    <button >
        emprendedores
    </button>
</a>

// BOTON PARA CRUD Mentores
<a href="/mentor">

    <button >
        mentor
    </button>
</a>

// BOTON PARA CRUD sTARTUPS
<a href="/startup">

    <button >
        startup
    </button>
</a>

// BOTON PARA CRUD Convocatoria
<a href="/convocatoria">

    <button >
        Convocatoria
    </button>
</a>

// BOTON PARA CRUD evento
<a href="/evento">

    <button >
        evento
    </button>
</a>

// BOTON PARA CRUD etapas
<a href="/etapa">

    <button >
        etapas
    </button>
</a>

// BOTON PARA CRUD tarea
<a href="/tarea">

    <button >
        tarea
    </button>
</a>
// BOTON PARA CRUD entregable
<a href="/entregable">

    <button >
        entregable
    </button>
</a>
</body>
</html>